<main>
    <ul>
        <li (click)="view('examples/demo2')">场景美化</li>
        <li (click)="view('examples/demo3')">能量盾</li>
        <li (click)="view('examples/scene-switching')">场景反射</li>
        <li (click)="view('examples/particles')">网格粒子</li>
        <li (click)="view('examples/process_outline')">后期处理_outline</li>
        <li (click)="view('examples/process_bloom')">后期处理_bloom</li>
        <li (click)="view('examples/bloom')">后期处理_bloom_2</li>
        <li (click)="view('examples/shaderLight')">shader光照模型</li>
        <li (click)="view('examples/fire-ball')">粒子燃烧</li>
        
    </ul>
    
    <div>
        <router-outlet></router-outlet>
    </div>
    
</main>